*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
 }
 .background{
   position: fixed;
   z-index: -1;
   top: -50px;
 }
 .city-banner{
     width: 100%;
     height: 10%;
     display: flex;
     position: relative;
     overflow: hidden;
 }
 .city-banner img{
     width: 100%;
     align-self: flex-end;
     object-fit: cover;
     margin-left: 10em;
 }
 .category-type{
     display: flex;
     justify-self: center;
     align-items: center;
     gap: 25px;
 
 }
 .cat{
     background: #F7A072;
     border-radius: 50px;
     padding: 10px 25px;
     font-weight: 600;
     cursor: pointer;
 }
 .cat:hover{
     background: #f0a177ea;
     border-radius: 50px;
     padding: 10px 25px;
     font-weight: 600;
     color: rgba(0, 0, 0, 0.817);
 }
 
 
 .btnbe {
   transform: translate(-50%, -50%);
   font-size: 25px;
   font-weight: 600;
   height: 40px;
   line-height: 40px;
   cursor: pointer;
   background-color: inherit;
   border: none;
   outline: none;
   color: #f1f1f1;
 }
 
 .btnbe:hover .backgroundbe {
   height: inherit;
   width: 120%;
   top: 50%;
 }
 
 .btnbe .backgroundbe {
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 3px;
   width: 100%;
   background-color: #006b92;
   z-index: -1;
   border-radius: 5px;
   transition: all 0.3s;
 }












 .addPostBtn  button {
  --c:  #229091; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.addPostBtn button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.addPostBtn button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}



.addPostBtn {
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  gap: 40px;
  background: #F2DCA2;
  position: relative;
  left: 30vw;
  border-radius: 30px;
}
.addPostBtn button {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  padding: .3em .6em;
  font-weight: bold;  
  border: none;
  border-radius: 30px;
}